:root {
  --purple: #a25afe;
  --green: #b6ff58;
  --dark-text: #283851;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-text);
}

body {
  background-image: url(/assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
}

.quiz-cards {
  background: rgba(162, 90, 254, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(162, 90, 254, 0.24);
  padding: 1rem 1.5rem;
}

.timer-container {
  width: 45px;
  height: 45px;
  position: relative;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  z-index: 1;
}

.border-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.border-svg circle {
  transition: stroke-dashoffset 0.5s ease-in-out;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
}

/* Style the label and hide the radio input */
.quiz-buttons .quiz-buttons__item input[type="radio"] {
  display: none;
}

/* When input is checked, style the adjacent span (label) */
.quiz-buttons .quiz-buttons__item input[type="radio"]:checked + span {
  background-color: #84cc16;
  /* Add any additional styles for the checked state */
}

/* Hover and Focus styles */
.quiz-buttons .quiz-buttons__item button:hover,
.quiz-buttons .quiz-buttons__item button:focus {
  background-color: #84cc16;
  /* Add any additional hover or focus styles */
}
