:root {
  --purple: #a25afe;
  --green: #b6ff58;
  --dark-text: #283851;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-text);
}

body {
  background-image: url(/assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 93vh;
  padding-bottom: 2rem;
  width: 100%;
}

.quiz-cards,
.result-cards,
.login-cards {
  background: rgba(162, 90, 254, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(162, 90, 254, 0.24);
  padding: 1rem 1.5rem;
}

.result-cards::-webkit-scrollbar {
  width: 12px;
}

.result-cards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--green);
  border-radius: 5px;
}

.result-cards::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px var(--green);
}

.timer-container {
  width: 45px;
  height: 45px;
  position: relative;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  z-index: 1;
}

.border-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.border-svg circle {
  transition: stroke-dashoffset 0.5s ease-in-out;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
}

/* Style the label and hide the radio input */
.quiz-buttons .quiz-buttons__item input[type="radio"] {
  display: none;
}

/* When input is checked, style the adjacent span (label) */
.quiz-buttons .quiz-buttons__item input[type="radio"]:checked + span {
  background-color: #84cc16;
  /* Add any additional styles for the checked state */
}

/* Hover and Focus styles */
.quiz-buttons .quiz-buttons__item button:hover,
.quiz-buttons .quiz-buttons__item button:focus {
  background-color: #84cc16;
  /* Add any additional hover or focus styles */
}

/* Results Css */
.circle-percent .skill {
  width: 5rem;
  height: 5rem;
  /* background: cadetblue; */
  position: relative;
}

.circle-percent .skill .outer {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid beige;
  padding: 0.22rem;
}

.circle-percent .skill .inner {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px 0.5px 0px rgba(255, 255, 255, 1),
    -0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}

.circle-percent .skill .inner #number {
  font-weight: 700;
  color: #555;
}

.circle-percent .skill svg {
  height: 5.5rem;
  width: 5.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-percent .skill circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 5px;
}

/* /Results Css */
